<configuration>
	<connectionStrings>
		<!--<add name="dbString"
			 connectionString="Data Source=ServerName;Initial Catalog=KAVINDU;User ID=sa;Password=12345678"/>-->
		<add name="dbString"
			 connectionString="Data Source=DESKTOP-T46LHC0;Initial Catalog=IE_POS_SYSTEM;User ID=sa;Password=1234"/>
	</connectionStrings>
	
	
</configuration>